<header class="header">
  <div class="top-bar">
    <a routerLink="/" class="logo"><img  src="/icons/apple.svg" class="apple">iPhoneStore</a>

    <input type="text" placeholder="Buscar produtos..." class="search">

    <div class="actions">
      <span>Login</span>
      <img src="/icons/cart.svg" class="icon">
    </div>
  </div>
  <nav class="menu">
    <!-- Iphone -->
    <div class="dropdown">
      <span class="dropbtn">iPhone ▼</span>

      <div class="dropdown-content">
        <a routerLink="/iphone-16"  routerLinkActive="active">iPhone 16</a>
        <a routerLink="/iphone-17"  routerLinkActive="active">iPhone 17</a>
        <a routerLink="/iphone-17-pro"  routerLinkActive="active">iPhone 17 Pro</a>
        <a routerLink="/iphone-17-air"  routerLinkActive="active">iPhone 17 Air</a>
        <a routerLink="/iphone-17e"  routerLinkActive="active">iPhone 17e</a>      
      </div>
    </div>

    <!-- Acessórios -->
    <div class="dropdown">
      <span class="dropbtn">Acessórios ▼</span>

      <div class="dropdown-content">
        <a routerLink=""  routerLinkActive="active">Capa Iphone 17 Pro</a>
        <a routerLink="/air-pods"  routerLinkActive="active">Air Pods</a>
        <a routerLink=""  routerLinkActive="active">Bateria</a>
        <a routerLink=""  routerLinkActive="active">Mega Safe</a>      
      </div>
    </div>
    <a>Ofertas</a>
    <a>Novidades</a>
  </nav>
</header>
