<app-header></app-header>
<!-- HERO -->
<section class="hero">
  <h1>Promoção da Semana</h1>
  <p>Até 50% OFF</p>
  <button>Comprar Agora</button>
</section>

<!-- PRODUTOS -->
<section class="products">
  <h2>Produtos em destaque</h2>

  <div class="grid">
    <div class="product">
      <img src="/images/16cores.png">
      <h3>iPhone 16</h3>
      <p>R$ 6.799,00</p>
      <button  routerLink="/iphone-16">Comprar</button>
    </div>

    <div class="product">
      <img src="/images/16frente.png">
      <h3>iPhone 16 Plus</h3>
      <p>R$ 8.499,00</p>
      <button  routerLink="/iphone-16">Comprar</button>
    </div>

    <div class="product">
      <img src="/images/17e-frente.png">
      <h3>iPhone 17e</h3>
      <p>R$ 5.799,00</p>
      <button  routerLink="/iphone-17">Comprar</button>
    </div>
  </div>
</section>

<!-- OFERTA RELÂMPAGO -->
<section class="flash">
  <h2>Ofertas Relâmpago</h2>
  <div class="timer">02h : 15m : 30s</div>
</section>

<!-- DEPOIMENTOS -->
<section class="testimonials">
  <h2>Depoimentos</h2>
  <p>★★★★★ Cliente satisfeito</p>
  <p>★★★★★ Cliente satisfeito</p>
</section>

<!-- NEWSLETTER -->
<section class="newsletter">
  <h2>Newsletter</h2>
  <input type="email" placeholder="Digite seu email">
  <button>Cadastrar</button>
</section>

<!-- FOOTER -->
<footer class="footer">
  <p>Sobre | Trocas | Privacidade | Redes Sociais | Contato</p>
</footer>